[defaults]
inventory = inventory.yml
interpreter_python = auto_silent
retry_files_enabled = False
local_tmp = /tmp/ansible-amstrad-local
remote_tmp = /tmp/ansible-amstrad-${USER}

[ssh_connection]
pipelining = True
control_path_dir = /tmp/ansible-amstrad-cp
